<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
        <!-- Datos de conexión -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">C##TFG</property>
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        
         <!-- JDBC connection pool settings -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>

		<!-- Mostrar SQL generado -->
		<property name="hibernate.show_sql">true</property>

		<!-- Formateo de SQL -->
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>
		<property name="hibernate.generate_statistics">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.debug">true</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Clases mapeadas -->
		<mapping class="clases_habilidades.Don" />
		<mapping class="clases_habilidades.Habilidad" />
		<mapping class="clases_habilidades.Hechizo" />
		<mapping class="clases_habilidades.Rasgo" />
		<mapping class="clases_habilidades.Talento" />
		<mapping class="clases_habilidades.Ventaja" />

		<mapping class="clases_objetos.Arma" />
		<mapping class="clases_objetos.Armadura" />
		<mapping class="clases_objetos.Consumible" />
		<mapping class="clases_objetos.Objeto" />

		<mapping class="clases_partida.Criatura" />
		<mapping class="clases_partida.Escena" />
		<mapping class="clases_partida.Mundo" />
		<mapping class="clases_partida.Nacion" />
		<mapping class="clases_partida.O_Nacion" />
		<mapping class="clases_partida.O_Reino" />
		<mapping class="clases_partida.Reino" />
		<mapping class="clases_partida.Tienda" />
		<mapping class="clases_partida.TiendaObjeto" />
		<mapping class="clases_partida.Ubicacion" />	

		<mapping class="clases_personaje.Arquetipo" />
		<mapping class="clases_personaje.EquipoPersonaje" />
		<mapping class="clases_personaje.Ideologia" />
		<mapping class="clases_personaje.InventarioPersonaje" />
		<mapping class="clases_personaje.Personaje" />
		<mapping class="clases_personaje.Raza" />
		<mapping class="clases_personaje.Religion" />
		
		<mapping class="clases_roles.Clase" />
		<mapping class="clases_roles.Subclase" />
		
	</session-factory>
</hibernate-configuration>
